.container {
  padding: 0 0rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
}

.header-container {
  position: relative;
  overflow: hidden;
}

.header-image {
  width: 100%;
  height: auto;
}

.header-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.37); /* Adjust the opacity as desired */
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #2e700d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}



.title,
.description {
  text-align: center;
}


.connect {
  margin-bottom: 2rem;
}

.description {
  margin-top: 3rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1200px;
  margin: auto;
}

.card {
  background-color: #1b2129;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
  max-width: 1500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to bottom, #1b2018, #130f06);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.card:hover,
.card:focus,
.card:active {
  background-color: #e5ded1;
  color: #cfe3c5;
  border-color: #8247E5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  align-items: center;
}

.card p {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.5;
}

/* Styles for different statuses */
.card.pending:hover,
.small-text.pending {
  border-color: orange;
}

.card.open:hover,
.small-text.open {
  border-color: green; /* Change to your preferred color */
}

.card.in-progress:hover,
.small-text.in-progress {
  border-color: rgb(255, 0, 221); /* Change to your preferred color */
}

.card.complete:hover,
.small-text.complete {
  border-color: grey; /* Change to your preferred color */
}

/* Styles for course status text */
.course-status.pending {
  color: orange;
}

.course-status.open {
  color: green; /* Change to your preferred color */
}

.course-status.in-progress {
  color: rgb(255, 0, 221); /* Change to your preferred color */
}

.course-status.complete {
  color: grey; /* Change to your preferred color */
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

  @media (max-width: 600px) {
    .main {
      padding: 1rem 0;
      align-items: flex-start;  /* Align content to the start */
    }
  
    .title {
      font-size: 2rem;
    }
  
    .description {
      font-size: 1rem;
    }
  
    .card {
      padding: 1rem;
      flex-direction: column;
    }
  
    .course-title {
      font-size: 1.2rem;
    }
  
    .small-text, .medium-text {
      font-size: 0.8rem;
    }
  
    .grid {
      flex-direction: column;
      margin: 0 10px; /* Adding some margin to prevent content being cut off */
    }
    
    .course-card {
      flex-direction: column;
    }
  
    .card-info, .card-media {
      padding: 1rem 0;
      text-align: center;
    }
  }


.card,
.footer {
  border-color: #222;
}
.code {
  background: #111;
}
.logo img {
  filter: invert(1);
}

.course-card {
  border: 3px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: flex-start;
}

.card .course-card {
  border: 3px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: flex-start;
}

.course-info {
  /* This will place the course-info at the top of the course card */
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.card-info {
  left: 0;
  flex: 1;
  padding: 0 1rem;
  text-align: left;
}

.card-media {
  /* New styles */
  flex: 1;
  text-align: right;
}

.card .small-text {
  font-size: 10px;
}

.small-text {
  font-size: 0.8rem;
  color: #888;
}

.medium-text {
  /* This will make the font size smaller */
  font-size: 14px;
  font-weight: 700;
  color: #e08e8e;
}

.card .course-title {
  font-size: 32px;
  font-weight: bold;
  color: #2e700d;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


.syllabus-download {
  margin-top: 10px;
}

/* .card-media .syllabus-download {
  margin-top: 0.5rem;
} */


.download-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 8px;
}

.course-details {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.course-details p {
  margin: 0;
  font-size: 1rem;
}

.actions {
  margin-top: 1rem;
}

.actions summary {
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.actions summary:focus {
  outline: none;
}

.actions details {
  margin-top: 0.5rem;
}

.actions details p {
  margin: 0;
  font-size: 1rem;
}

.actions .sponsor-actions,
.actions .teacher-actions {
  margin-top: 1rem;
}

.actions .sponsor-actions input[type="uint"],
.actions .teacher-actions input[type="text"] {
  margin-top: 0.5rem;
  padding: 0.25rem;
  font-size: 0.9rem;
}

.actions .sponsor-actions button,
.actions .teacher-actions button {
  margin-top: 0.5rem;
}

.course-title-container {
  margin-bottom: 0.1rem; /* Adjust as needed */
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #4CAF50; /* You can change this */
  color: white; /* You can change this */
  border-radius: 4px; /* Optional */
}

.upload-card {
  padding: 20px;
  border: 2px solid #ce7c7c; /* Red border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin: 10px;
  background-color: #ce7c7c; /* Red background */
  color: #ffffff; /* White text */
  font-weight: bold; /* Bold text */
  cursor: pointer; /* Hand cursor on hover */
  transition: all 0.3s ease-in-out; /* Smooth transition effect */
}

.upload-card:hover {
  background-color: #e7d0d0; /* Lighter red on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Bigger shadow on hover */
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
